#header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
body {
  background-color: lightsteelblue;
}
p {
  width: 32%; 
}
.inline-block {
   white-space: nowrap;
   display: inline-block;
}
img {
  width: 32%;
  border-radius: 20px;
  border: 2px solid white;
}
table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
