#header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
body {
  background-color: lightsteelblue;
}
.inline-block {
   white-space: nowrap;
   display: inline-block;
}
.inline-block-text{
   overflow: hidden;
}
#p-one {
  float: left;
}
#p-three {
  float: right;
}
img {
  width: 33%;
  border-radius: 20px;
  border: 2px solid white;
}
table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
.table {
  border: 0px; 
  width: 100%;
}
.th {
  width: 33%;
  border: none;
}
