.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
body {
    background-color: lightblue;
}
p   {
    background-color: yellow;
}
img {
  width: 30%;
}

table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
